@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply text-lg
}

.projects img {
    width: 100%;
    
}

/* color */
.bg-primary {
    background: rgb(80 7 36);
}

.bg-secondery {
    background: rgb(131 24 67);
}

.bg-accent {
    background: rgb(248 113 113);
}

.text-accent {
    color: rgb(252 165 165);
}


nav li a {
    @apply px-4 py-5 text-lg;
}

nav li a:hover {
    color: rgb(116, 119, 255);
}

.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}


/* hero */
h1 {
    font-family: 'Pacifico', cursive;
    line-height: 1.5 !important;
}


